body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
    color: #333;
}
center {
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    color: block;
    margin-top: 20px;
}

h3 {
    font-weight: normal;
}
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px 0;
    border: 3px solid  block;
}
ul {
    background-color: white;
    padding: 15px 40px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
li {
    margin: 8px 0;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
